<section class="dynamicField">
  <div class="container">  
    
    <h1> Dynamically Adding New Field</h1>  
      
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
        
      <p>  
        <label for="phoneNumber">Phone Number:</label>  
        <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" class="form-control">  
      </p>  
      
      <table class="table table-bordered" formArrayName="anotherPhoneNumber">  
        
        <tr *ngFor="let quantity of anotherPhoneNumber().controls; let i=index" [formGroupName]="i">  
          <td>  
            Add another phone number:  
              <input type="text" formControlName="anotherPhoneNumber" class="form-control">  
          </td>  
          
          <td>  
              <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
          </td>  
        </tr>  
        <tr>  
          <!-- <th colspan="2">Add Another Phone Numbers Quantity:</th>   -->
          <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add another phone numbers</button></th>  
        </tr>  
      </table>  
       
      <button type="submit" class="btn btn-success">Submit</button>  
        
    </form>  
         
  </div>  
</section>  

<hr>


<section>
  <h2>Enter the index to find the number of given series</h2>
  <div class="givenNo">
    <form>
      <p>Given Numbers <br>
        2,3,10,15,26,35,50,63,?</p>
        <br>
        <label>Enter a given number and get its index</label>
        <input type="number" name="number" [(ngModel)]="numbers">
        <br>
        <button type="submit" (click)=getIndex(numbers)>Submit</button>
    </form>
    <div class="answer">
      <span>index of {{numbers}} is : {{answer}}</span>
    </div>
  </div>
</section>
<hr>


<section>
  <h2>
    changing the massage parent and child from input box
  </h2>
  <div style="background:lightblue">
    Message: {{message}} 
    <input type="text" name="message" [(ngModel)]= "message">
    <button (click)="newMessage(message)">Parent change message</button>
    <!-- <br>injected from child summary: {{dataFromChild}} -->
    <br>
    </div>
    <app-firstchild></app-firstchild>
    <app-secondchild></app-secondchild>
</section>